@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.phone-menu{
    display: none;
}
.mobile-logos{
    display: none;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px auto auto;
    width: 70vw;
    justify-content: center;
}
section img {
    max-width: 100%;
}
header{
    display: flex;
    flex-direction: column;
}
ul{
    margin:auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
li{
    list-style-type: none;
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: #242f51;
}
button{
    width: 170px;
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 29px;
    background-color: #2500f9;
    font-size: 16px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: #3b25b8;
}
header{
    margin: 50px;
}
h1{
    font-size: 60px;
    line-height: 75px;
    color: #242f51;
    font-weight: 600;
    padding-top: 20px;
}
h3{
    font-size: 40px;
    line-height: 50px;
    color: #242f51;
    font-weight: 600;
}
h4{
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 28px;
    color: #616368;
    font-weight: 400;
}
.logo{
    flex:1;
}
.nav-text{
    padding-left: 30px;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.editors-choice-section > .column {
    margin-left: 80px;
    margin-right: 80px;
}
.editors-choice-section > .column > div >a {
    color: #2500f9;
    padding-left: 10px;
}
.text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.buttons{
    padding-top: 10px;
}
.editors-choice{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    width: 362px;
    border-radius: 17px;
    background-color: #e2eaed;
}
.trusted-companies{
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.column > h4 {
    color: #242f51;
    font-weight: 400;
    margin: 30px;
}
.logos{
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.apps-features{
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 430px;
}
.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.feature-intro{
margin-bottom:70px;

}
.feature img{
margin-right: 50px;
}

.jackpots{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
}
.jackpots-text{
    padding-top: 40px;
    padding-bottom: 25px;
     padding-left: 50px;
    border-left: 1px solid lightgrey;
    height: 100%;
}
.jackpots-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}


.code-section-content{
    margin-left: 100px;
    min-width: 200px;
    width: 20vw;
}
.code-section-content p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.choose-section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    text-align: center;
}
.choose-section-header h3 {
max-width: 500px;
}

.choose-section-header p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.choose-section-content div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
    max-width: 300px;
}

.ultimate-features-section{
    align-items: flex-start;
    margin-bottom: 500px;
}
.ultimate-features-intro{
    max-width: 500px;
    margin-left: 50px
}
.ultimate-features-intro p{
    margin-top: 20px;

}
.ultimate-features-content {
    align-items: center;
}
.ultimate-features-content div div {
    margin: 50px;
}
.see-all-button{
    margin-left: 50px;
}
.red-text{
    color: #f55767;
}
.blue-text{
    color: #2563ff;
}
.green-text{
    color: #40975f;
}

@media screen and (max-width: 1024px) {

    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 100px auto auto;
        width: 90vw;
        justify-content: center;
    }
    button{
        width: 100px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 29px;
        background-color: #2563ff;;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 700;
    }

    header{
        margin: 50px;
    }
    h1{
        font-size: 40px;
        line-height: 50px;
        color: #242f51;
        font-weight: 600;
        padding-top: 20px;
    }
    h3{
        font-size: 30px;
        line-height: 50px;
        color: #242f51;
        font-weight: 600;
    }
    h4{
        font-size: 16px;
        line-height: 58px;
        color: #242f51;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        line-height: 28px;
        color: #616368;
        font-weight: 400;
    }
    .trusted-companies img{
        padding: 30px;
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 30px;
        line-height:40px;
        color: #242f51;
        font-weight: 600;
        padding-top: 20px;
    }
    h3{
        font-size: 30px;
        line-height: 40px;
        color: #242f51;
        font-weight: 600;
    }
    h4{
        font-size: 16px;
        line-height: 30px;
        color: #242f51;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        line-height: 20px;
        color: #616368;
        font-weight: 400;
    }
    .trusted-companies img{
        padding: 30px;
        width: 90px;
    }
}
@media screen and (max-width: 375px) {
    .menu{
        display: none;
    }
    .logos{
        display: none;
    }
    header{
        background-color: #2563ff;
        margin: 0;
        border-radius: 0 0 15px 15px;
    }
    .phone-menu{
        display: flex;
        flex-direction: column;
        color: white;
    }
    .phone-menu div{
        margin: auto;
    }
    .phone-menu a{
        color: white;
        padding-left: 10px;
        margin: 8px;
    }
    .phone-menu div img{
        padding-top: 10px;
    }
    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 100px auto auto;
        width: 90vw;
        justify-content: center;
    }
    .editors-choice-section{
        margin: 50px auto;
    }
    .editors-choice{
        width: 300px;
    }
    .screenshot{ display: none}
    .mobile-logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jackpots{
        width: 70vw;
        align-items: center;
        flex-direction: column;
    }
    .jackpots h3{
        padding-bottom: 10px;
    }
    .jackpots p {
        border-left: none;
        border-top: 1px solid lightgrey ;
        padding: 20px 0 0;
    }
    .jackpots-content{
        display: flex;
        flex-direction: column;

    }
    .jackpots-content div{
        padding-top: 30px;
    }
    .code-section-content{
        margin: 0;
    }
    .choose-section-header{
        width: 90vw;
    }
    .choose-section-content{
        display: flex;
        flex-direction: column;
    }
    .ultimate-features-intro{
        margin: 0 0 0 10px;
    }
    .ultimate-features-content{
        flex-direction: column;
    }
    .ux-planning{
        margin-top: 0;
    }

    h1{
        font-size: 20px;
        line-height: 30px;
        color: #242f51;
        font-weight: 600;
        padding-top: 20px;
    }
    h3{
        font-size: 20px;
        line-height: 30px;
        color: #242f51;
        font-weight: 600;
    }
    h4{
        font-size: 16px;
        line-height: 30px;
        color: #242f51;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        line-height: 20px;
        color: #616368;
        font-weight: 400;
    }
    .trusted-companies img{
        padding: 10px;
        width: 80px;
    }
}
